@tailwind base;
@tailwind components;
@tailwind utilities;



.weather-forecast {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 20px;
}

.forecast-list {
  list-style: none;
  padding: 0;
}

.forecast-item {
  background-color: #f0f0f0;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}
